<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <!--REF: https://stackoverflow.com/questions/4472891/how-can-i-disable-zoom-on-a-mobile-web-page -->
    <meta name='viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=device-dpi' />
    <link rel="shortcut icon" href="#" />
    <!-- css -->
    <!-- REF: https://getbootstrap.com/docs/3.3/getting-started/#download -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link type='text/css' rel='stylesheet' href='{{ url_for("static", filename="css/style.css") }}' />
    <link type='text/css' rel='stylesheet' href='{{ url_for("static", filename="css/navbar.css") }}' />
    <!-- jQuery -->
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <!-- JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <title>Chris Hamberg</title>
</head>

<body>
    
    {% from "navbar.jinja" import NavBar with context %}
    {% from "sidebar.jinja" import SideBar with context %}

    <header>
        <!-- Navbar -->
        {{ NavBar() }}
    </header>

    <div class='row'>

        <section class='col-sm-9'>
            <!-- Content -->
            {% block container %} {% endblock %}
        <section>
    
        <aside class='col-sm-3 affix affix-top'>
            <!-- SideBar -->
            {{ SideBar() }}
        </aside>

    </div>

    <footer class='page-footer font-small'>    
        <a href='https://github.com/chris-hamberg/webapp'>
            github.com/chris-hamberg
        </a>
        <p class='copyright'>&copy; 2019</p>
    </footer>

</body>

<script>

    function source(img) {
        $("#imageView").attr("src", img.src);
        $("#modalCenter").modal("show");
    }

    var article_array = document.getElementsByClassName("reuters-article");
    var index = 0;
    var position_past = 0;
    var position_now = 0;
    var pixel = 0;
    var throttle = 45;
    var ceiling = window.scrollY || window.scrollTop || document.getElementsByTagName("html")[0].scrollTop;

    window.onscroll = function(e) {

        // find out where we are
        position_now = (document.body.getBoundingClientRect()).top
        if (position_now == ceiling) {
        // we're at the top, enforce the border values
            pixel = 0;
            index = 0;
        } else if (position_now > position_past) {
        // user scrolled UP
            pixel--;
            if ((!(pixel % throttle)) && (index != 0)) {index--;}
        } else if (index < article_array.length) {
        // user scrolled DOWN
            pixel++;
            if (!(pixel % throttle)) {index++;}
        }
        // remember where we scrolled to
        position_past = (document.body.getBoundingClientRect()).top;

        for (i=0; i < article_array.length; i++) {
            if (i != index) {
                if (index != article_array.length) {
                // dont let the last article be hidden
                    article_array[i].style.opacity = 0;
                    article_array[i].style.visibility = "hidden";
                }
            } else {
                article_array[i].style.visibility = "visible";
                article_array[i].style.opacity = 1;
            }
        }
    }

    // REF: https://stackoverflow.com/questions/42045814/changing-bootstrap-glyphicon-onclick-function?rq=1
    $(document).ready(function(){
    $('[data-toggle="collapse"]').click(function(){
        $(this).find('span').toggleClass('glyphicon-minus-sign'
        ).toggleClass('glyphicon-plus-sign');
        });
    });

    // REF: https://stackoverflow.com/questions/11476670/bootstrap-collapse-other-sections-when-one-is-expanded
    var $cmstree = $("#accordionTree");
    $cmstree.on("show.bs.collapse", ".collapse", function(){
        $cmstree.find(".collapse.in").collapse("hide");
    });

</script>

</html>
