{% extends 'base.html' %}

{% block container %}

        <div class='reuters-header affix affix-top'>
            <h1 class='reuters-h1'><b>Reuters World News RSS Streamer</b></h1>
            <p class='app-note'>(embedded application)</p>
            <h3 class='reuters-h3'><em>The repo for this application can be viewed at</em>
                <a id="repo" href="https://github.com/chris-hamberg/reuters">github.com</a>
            </h3>
            <hr class='reuters-hr'/> 
        </div>
        
        <div class='reuters-body'>
            {% for article in reuters.data %}
            <div class='reuters-article'>
                <a class='reuters-link' href="{{ article.link }}" target="_blank">
                    <p class='reuters-title'>{{ article.title }}</p></a>
                <p class='reuters-date'><em>{{ article.date }}</em></p><br/>
                {% set index = article.data.description.text.index('<') %}
                <p class='reuters-desc'>
                    {{ article.data.description.text[:index] }}
                </p><br/>
                <hr class='reuters-hr'/>
            </div>
            {% endfor %}
        </div>

{% endblock container %}
