html {background-color: #333333;}

body {
    background-image:   linear-gradient(to right, #223344, #333333);
    color:              #118888;
    text-align:         center;
    min-height:         800px;
    max-width:          100%;
    min-width:          100%;
    overflow-x:         hidden;}

a, .btn, .transparent-button {
    color:              #7755BB;
    text-shadow:        1px 1px 100px purple;
    transition:         color 1s linear 0s;
    text-decoration:    none!important;}
a:hover {color: magenta;}

.btn {color: black;}

.transparent-button {
    width:              100%;
    height:             50px;
    margin-top:         1.5%;
    padding-right:      10%;
    font-size:          1.1em;
    color:              #11A099;
    text-shadow:        0px 0px 100px #0099FF;
    background-color:   transparent;
    border:             none;
    overflow:           visible;
    outline:            none;}
.transparent-button:hover {color: #50E9FF;}

section {
    margin-top:         5.6%;
    margin-left:        2%;
    margin-right:       2%;
    min-height:         350px;}

.accordion {text-align: center;}

#glyph {float: left;}

#side-menu {
    list-style:         none;
    padding:            1%;
    color:              black;}

.card-header, #side-menu-button {
    border-radius:      10px;
}

#side-menu-button {
    color:              mediumseagreen;
    width:              100%;
    transition:         background-color 1s linear 0s;
    outline:            none;}
#side-menu-button:hover {background-color: black;}

.card-header {
    margin:             0px 0px 10px 0px;
    background-image:   linear-gradient(to right, #040404, #224444);
    box-shadow:         3px 3px 3px black;}

.card-body {
    background-image:   linear-gradient(to right, transparent, #1A1320);
    margin:             -10px 4% 0px 1%;
    padding:            10px;
    opacity:            .9;}

.theorem, #imageView {
    width:              100%;
    margin:             0%;
    filter:             invert(95%);}

#imageView {filter: invert(100%);}

.modal-content {
    width:              174%;
    margin-left:        -37%;
    background-color:   black;
    opacity:            0.6;}

.modal-header {
    border-bottom:      0px;
    opacity:            1;} 

.modal-open header {opacity: 0.15;}

.modal-open .navbar {opacity: 0.15;}

.modal-open #myCarousel {opacity: 0.34;}

.modal-open aside {opacity: 0.34;}

#myCarousel {margin-bottom: 10%;}

.reuters-header.affix, .reuters-header.affix-top {
    top:                60px;
    width:              74%;
    margin:             0% 0% 0% 0%;
    text-align:         center;
    /*margin-bottom:      17%;*/
    position:           fixed;}

.reuters-h1, .reuters-h3 {color: #00CCCC;}

.reuters-h1 {font-size: 3em;}

.app-note, .reuters-date{color: #002233;}

.app-note {
    font-size:          2em;
    text-shadow:        1px 1px 1px black;}

.reuters-body {margin-top: 225px;}

.reuters-article {opacity: 0;}

.reuters-title, .reuters-date, .reuters-desc {text-align: left;}

.reuters-title {   
    font-size:          2.3em;
    text-shadow:        1px 1px 100px purple;}

.reuters-date {
    font-size:          1em;
    text-shadow:        1px 1px 0px black;}

.reuters-desc {
    color:              #33AAAA;
    font-size:          1.5em;
    text-shadow:        -10px -10px 150px darkblue;
    background:         -webkit-linear-gradient(right, #00AA88, #1188AA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;}

.reuters-hr {
    border-color:       #6622BB;
    box-shadow:         1px 1px black;}

@media (max-width: 991px) {
    
    aside.affix-top, aside.affix {
        margin-left:    1%;
        width:          100%;
        position:       static;}

    .col-sm-9 {width: 100%;}

    .card-header {margin: 0px 2.7% 10px 0px}

}

@media (min-width: 991px) {

    aside.affix-top, aside.affix {
        position:       fixed;
        top:            14%;
        left:           78%;}

    #side-menu-button {
        border-radius:  15px 0px 0px 15px;
        text-align:     left;
        margin-right:   -10%;}

    .side-h4 {
        margin-left:    10%;
        margin-right:   -10%;}
    
    .card-header {border-radius: 15px 0px 0px 15px;}

    /*    .card-body {margin: -10px -5% 0px 5%;}*/

}
